.prescription-card {
  background-color: #fff;
  border-radius: 10px;
  padding: 20px;
  width: 100%;
}

.prescription-title {
  font-weight: bold;
  margin-bottom: 15px;
}

.add-prescription-btn {
  border: 1px dashed hsl(191.63deg 83.05% 23.14%) !important;
  font-weight: bold;
  margin: 10px 0px !important;
  text-transform: none;
  width: 100% !important;
}

.prescription-table {
  width: 100%;
  border: 1px solid rgba(224, 224, 224, 0.209) !important;
}
.prescription-table tbody {
  border: 0px !important;
}
.prescription-table th {
  font-weight: bold;
  background-color: #eafbea;
  padding: 12px;
  text-align: left;
  color: #333;
}
.prescription-table td {
  padding: 12px;
  text-align: left;
  line-height: 100%;
  border-left: 1px solid rgba(224, 224, 224, 0.446);
  border-bottom: 0px;
}
.prescription-table td:nth-of-type(1) {
  border-left: none;
}
.prescription-table td span {
  background-color: #fefbf4;
  padding: 10px;
  border-radius: 5px;
  display: inline-block;
}
.prescription-table td span svg {
  font-size: 18px;
  position: relative;
  top: 2px;
  color: #f0ac37;
}
.prescription-table tr:nth-child(even) {
  background-color: #dfdfdfbb;
}

.prescription-icon {
  margin-right: 10px;
}
.prescription-table .actions {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  width: 100%;
  height: 100%;
  gap: 10px;
}
.prescription-table .icon {
  width: 40px;
  height: 40px;
  display: flex;
  align-items: center;
  justify-content: center;
  border-radius: 7px;
  background-color: hsla(192, 83%, 23%, 0.478);
  cursor: pointer;
  transition: 0.2s;
}

.prescription-table .icon.delete-icon:hover path {
  color: rgb(255, 0, 0);
}
.prescription-table .icon.edit-icon:hover path {
  color: green;
}
